.empty-tile {
  background: gray;
  height: 50px;
  width: 50px;
}

.empty-tile:hover {
  background: blue;
}

.empty-tile:active {
  background: rebeccapurple;
}

.game-table {
  margin: 0 auto;
}

.castle-info {
  position: absolute;
  left: 10px;
  top: 10px;
}

.castle-info button {
  display: block;
}